/* Button */

.button-article {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4ec6ab;
  color: #ffffff;
  border-radius: 4px;
  transition: 0.5s all ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-article:hover {
  transform: translateX(+2px) scale(1.05);
}
