/*
 * Все паршалы импортировать в этот файл
 */
@import './vars.scss';
@import 'normalize.scss';
@import 'base.scss';
@import './userpanel.scss';
@import './logo.scss';
@import './navigation.scss';

:root {
  --navigation-text-style: 'Open Sans', sans-serif;
  --navigation-color: #0f0101;
  --title-color: #515151;
  --title-style: 'Roboto', sans-serif;
  --product-text-style: 'Roboto', sans-serif;
  --primary-text-color: #555252;
  --primary-text-style: 'Open Sans', sans-serif;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Information delivery */

.page-section__delivery {
  padding-bottom: 290px;
}

.delivery-info__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 40px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 55px;
  width: 55px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-info__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  padding-top: 100px;
}

.delivery-info__title--icon-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.delivery-info__icon {
  width: 65px;
  height: 65px;
  margin-bottom: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  fill: #1abc9c;
}

.delivery-info__title--icon-money {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.delivery-info__title--icon-worldwide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.delivery-info__title--icon-shipping {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.delivery-info__title {
  margin: 0px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.delivery-info__about {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

/* New collection */

.new-collection {
  background-color: #e9effd;
}

/* Main product page */

.main-title__styles {
  font-family: var(--title-style);
  font-size: 48px;
  font-weight: bold;
  color: var(--title-color);
  margin: 0px;
  margin-bottom: 70px;

  text-align: center;
  text-transform: uppercase;
}

.line-bolt::after {
  content: '';
  display: block;
  border-bottom: 2px solid #4ec6ab;
  border-top: 2px solid #4ec6ab;
  width: 165px;
  height: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4ec6ab;
  background-clip: content-box;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0;
}

.products-item {
  flex-basis: calc(100% / 4 - 22.5px);
  flex-grow: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.products-item:nth-child(4n) {
  margin-right: 0px;
}

.products-item:nth-child(n + 5) {
  margin-bottom: 0px;
}

.products-list__image {
  display: block;
  cursor: pointer;
  background-color: #e9f0fd;
  margin: 0px;
}

.products-list__about {
  display: flex;
  margin: 0px;
}

.products-list__about--description {
  flex-grow: 1;
  margin: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 6px;
  padding-right: 55px;
  font-size: 18px;
  font-family: var(--product-text-style);
  font-weight: 600;
  color: #ffffff;
  background-color: #323232;
  text-transform: uppercase;
  transition-timing-function: var(--timing-fn);
  cursor: pointer;
}

.products-list__about--price {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #8c8c8c;
  color: #ffffff;
  margin: 0px;
  cursor: pointer;
  font-family: var(--product-text-style);
  font-weight: bold;
  transition-timing-function: var(--timing-fn);
}

.products-item:hover .products-list__about--description {
  background-color: #1abc9c;
  transition-timing-function: var(--timing-fn);
}

.products-item:hover .products-list__about--price {
  background-color: #7fd9c7;
  transition-timing-function: var(--timing-fn);
}

.products-item .products-list__overlay::before {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  transition-timing-function: var(--timing-fn);
  cursor: pointer;
}

.products-list__overlay:hover::before {
  display: flex;
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.9);
  transition-timing-function: var(--timing-fn);
  animation-name: shadowBlock;
  animation-duration: 250ms;
}

.products-list__overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-list__overlay:hover .actions__list {
  opacity: 1;
  animation-name: buttonBlock;
  animation-duration: 250ms;
  animation-delay: 250ms;
  animation-fill-mode: backwards;
}

.actions__list {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  width: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.actions__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0;
}

.actions__item:nth-child(3) {
  margin-right: 0;
}

.actions__item:nth-last-child(1) {
  margin-bottom: 0;
  margin-right: 0;
}

.actions__item .actions__button {
  display: flex;
  flex-wrap: wrap;
  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.actions__button.actions__button--styles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--product-text-style);
  text-transform: uppercase;
  transition-timing-function: var(--timing-fn);
  cursor: pointer;
  overflow: hidden;
}

.actions__button:hover,
.actions__button:focus {
  background-color: #19bb9b;
  transition-timing-function: var(--timing-fn);
}

.actions__button.actions__button--styles:hover,
.actions__button.actions__button--styles:focus {
  background-color: #323232;
  transition-timing-function: var(--timing-fn);
}

.actions__button--like-icon {
  display: block;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

.actions__button--arrow-icon {
  display: block;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

.actions__button--timing-icon {
  display: block;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

.actions__button--addcard-icon {
  display: block;
  margin: 0;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

/* Animation card */

@keyframes buttonBlock {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shadowBlock {
  0% {
    opacity: 0;
    transform: translateY(+30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* News section */

.latest-news {
  background-color: #e9effd;
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0;
}

.news__item {
  flex-basis: calc(100% / 3 - 23.3px);
  flex-grow: 0;
  margin-right: 30px;
}

.news__item:nth-child(3n) {
  margin-right: 0px;
}

.news-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 15px;
  font-family: var(--primary-text-style);
  margin: 0px;
  cursor: pointer;
  color: var(--primary-text-color);
}

.news-line::after {
  content: '';
  display: block;
  border-top: 3px solid #4ec6ab;
  width: 135px;
  margin: 0px;
  margin-top: 15px;
  margin-right: auto;
  background-color: #4ec6ab;
  background-clip: content-box;
}

.news__item--about {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  font-weight: 400;
  line-height: 17px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: var(--primary-text-color);
}

.news__item--img {
  margin-top: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Button */

.button-article {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4ec6ab;
  color: #ffffff;
  border-radius: 4px;
  transition: 0.5s all ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-article:hover {
  transform: translateX(+2px) scale(1.05);
}

/* Footer */

.footer-background {
  background-image: url(../images/footer-ground.png);
  height: 460px;
  width: 100%;
  padding-top: 100px;
  background-position: center;
  background-repeat: repeat;
  background-color: #4dc5ab;
}

.footer {
  padding-bottom: 27px;
}

.footer-line::after {
  content: '';
  display: block;
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  width: 165px;
  height: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  background-clip: content-box;
}

.footer-description {
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: 300;
  font-style: 'Open Sans', sans-serif;
  color: #fbfefd;
}

.registration-form__email--registration {
  width: 450px;
  height: 60px;
  padding-left: 30px;
  border: 1px solid #ffffff;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.registration-form__email {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.registration-form__email-button {
  width: 90px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  transition: 0.5s all ease;
  cursor: pointer;
}

.registration-form__icon-button {
  display: block;
  width: 80px;
  height: 50px;
}

.registration-form__email-button:hover {
  transform: translateX(-5px) scale(1.05);
}
