/*
 * Все паршалы импортировать в этот файл
 */
@import './vars.scss';
@import 'normalize.scss';
@import 'base.scss';
@import './userpanel.scss';
@import './logo.scss';
@import './navigation.scss';

:root {
  --navigation-text-style: 'Open Sans', sans-serif;
  --navigation-color: #0f0101;
  --title-color: #515151;
  --title-style: 'Roboto', sans-serif;
  --product-text-style: 'Roboto', sans-serif;
  --primary-text-color: #555252;
  --primary-text-style: 'Open Sans', sans-serif;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}
